body {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #f8f8f8;
}

.heading1 {
  
  font-weight: bold;
}

.left-section {
  width: 100%;
  margin-left: 15px;
  display: inline-block;
  position: fixed;
  
}

.form-name-dd {
  display: block;
}

.form-url-dd {
  display: block;
}

.heading2 {
  
  font-weight: bold;
  display: block;
}

.select-form {
  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-width: 1px;
  padding: 20px 15px 10px 15px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}

.input-date {
  display: block;
}

.filter-form-1 {
  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-width: 1px;
  border-radius: 10px;
  padding: 20px 15px 20px 15px;
  margin-bottom: 15px;
  background-color: white;
}

.filter-form-2 {
  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-width: 1px;
  border-radius: 10px;
  padding: 20px 15px 20px 15px;
  background-color: white;
}

.select-utm {
  width: 360px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 5px;
}

.input-date {
  width: 340px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 5px;
  border-width: 1px;
}

.filter-button {
  background-color: #0263E0;
  border: none;
  color: white;
  padding: 8px 18px 8px 18px;
  margin-top: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.filter-button:hover {
  opacity: 0.8;
}

.filter-button:active {
  opacity: 0.6;
}

.form-name-dd {
  width: 360px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 5px;
 
}

.form-url-dd {
  width: 360px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 5px;
}

.right-section {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 420px;
  width: 990px;
}

.alldata-cont{
  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-width: 1px;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
}

.alldata-detail {

  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px solid rgb(213, 213, 213);
}

.number {
 
  margin-top: 0;
  margin-bottom: 0;
}

.alldata-detail-right {
  border-right: none;
}

.alldata {

  margin-left: 10px;
  margin-top: 15px;
}

.const {
  width: 80px;
}

.graph-section {
  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-width: 1px;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  margin-left: 10px;
  margin-top: 15px;

}

.table-section {
  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-width: 1px;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
}


.button-export-1 {
  background-color: #0263E0;
  border: none;
  color: white;
  padding: 8px 18px 8px 18px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
}

.button-export-1:hover {
  opacity: 0.8;
}

.button-export-1:active {
  opacity: 0.6;
}

.button-export-2 {
  background-color: #0263E0;
  border: none;
  color: white;
  padding: 8px 18px 8px 18px;
  margin-top: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.button-export-2:hover {
  opacity: 0.8;
}

.button-export-2:active {
  opacity: 0.6;
}

.button-option {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.button-option:hover {
  background-color: rgb(238, 238, 238);
}

.button-option-select {
  background-color: #0263E0;
  border: none;
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  cursor: pointer;
}


.border-select-form{
  border: 2px solid grey;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(213, 213, 213);
  
}

.graph {
  padding: 30px;
}

.page-number {
  margin-left: 460px;
}

.page-text {
  color: rgb(172, 172, 172);
  margin-right: 20px;
}

.page-dd {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
}

.pagination {
  margin-top: 10px;
}

.input-group-append {
 cursor: pointer;
}

.sidebar {
  min-width: 25vw;
  max-width: 500px;
  
}

@media(max-width: 983px){
  #side_nav{
  min-width: 100%;
  }
 
}